{% extends "Pagina.html" %}

{% block title %}Página Principal{% endblock %}

{% block content %}
<!-- Sección de Descripción -->
<section id="info" class="mt-5">
    <h3 class="text-center">Descripción del Proyecto</h3>
    <p>El proyecto <strong>Clasificación Alada</strong> tiene como objetivo identificar aves comunes de la región de Ibagué utilizando un sistema de clasificación basado en técnicas de <strong>Deep Learning</strong>. Este sistema permite reconocer múltiples especies a partir de imágenes subidas por los usuarios, proporcionando predicciones precisas sobre la especie del ave en cuestión.</p>
    <p>La clasificación de aves es un proceso complejo; sin embargo, con la implementación de redes neuronales profundas, nuestro sistema analiza patrones en imágenes y aprende características distintivas de cada especie. Este enfoque tiene aplicaciones importantes en la conservación de la biodiversidad y la investigación ambiental.</p>
    <div class="text-center mt-3">
        <button type="button" class="btn btn-info" onclick="scrollToTop()">Ir al inicio</button>
    </div>
</section>

<!-- Sección de Predicción -->
<section id="prediction" class="mt-5">
    <h3 class="text-center">Realizar Predicciones</h3>
    <form id="upload-file" method="post" enctype="multipart/form-data" class="text-center">
        <label for="imageUpload" class="btn btn-primary btn-lg">Elegir Imagen</label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg" class="d-none" onchange="previewImage(event)">
    </form>

    <!-- Sección de previsualización de la imagen -->
    <div class="image-section mt-4" id="imageSection" style="display: none;">
        <div class="text-center">
            <img id="imagePreview" class="img-thumbnail img-fluid" alt="Previsualización de la Imagen">

        </div>
    </div>

    <!-- Botón para iniciar predicción -->
     
    <div class="text-center mt-3" style="display: flex; justify-content: center;">
        <button type="button" class="btn btn-dark btn-lg" id="btn-predict" style="display: none;" onclick="makePrediction()">Predicción</button>
    </div>

    <!-- Loader -->
    <div class="loader text-center mt-4" style="display:none;">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>

    <!-- Resultado de la predicción -->
    <h3 id="result" class="text-center mt-4">
        <span></span>
    </h3>
</section>

<!-- Sección de Aves Entrenadas -->
<section id="birds" class="mt-5">
    <h3 class="text-center">Aves Entrenadas en el Modelo</h3>
    <p class="text-center">A continuación se muestra una lista de las especies de aves que han sido entrenadas en el modelo para su identificación:</p>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre del Ave</th>
                    <th>Enlace de Búsqueda</th>
                </tr>
            </thead>
            <tbody>
                <!-- Las aves se rellenan dinámicamente -->
                {% for bird in bird_list %}
                <tr>
                    <td>{{ bird }}</td>
                    <td><a href="https://www.google.com/search?q={{ bird }}" target="_blank" class="btn btn-link">Buscar en Google</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center mt-3">
        <button type="button" class="btn btn-info" onclick="scrollToTop()">Ir al inicio</button>
    </div>
</section>

<script>
// Función para previsualizar la imagen seleccionada
function previewImage(event) {
    const imageSection = document.getElementById('imageSection');
    const imagePreview = document.getElementById('imagePreview');
    const btnPredict = document.getElementById('btn-predict');

    const file = event.target.files[0];
    if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
            imagePreview.src = e.target.result;
            imageSection.style.display = 'block';
            btnPredict.style.display = 'block';
        }
        reader.readAsDataURL(file);
    }
}

// Función para realizar la predicción
function makePrediction() {
    const formData = new FormData(document.getElementById('upload-file'));
    const loader = document.querySelector('.loader');
    const result = document.getElementById('result').querySelector('span');

    loader.style.display = 'block';
    fetch('/predict', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        loader.style.display = 'none';
        if (data.result) {
            result.textContent = `Resultado: ${data.result}`;
        } else {
            result.textContent = 'Error: ' + (data.error || 'Ocurrió un error inesperado.');
        }
    })
    .catch(error => {
        loader.style.display = 'none';
        result.textContent = 'Error: ' + error.message;
    });
}

// Función para desplazarse hacia el inicio
function scrollToTop() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
}

</script>
{% endblock %}

